<div class="rules">
    <h1>The Rules</h1>

    <p>
        <%= @emojis %>
    </p>
    <ol>
        <%= for rule <- @rules do %>
            <a href={~p"/rules/#{rule.id}"}><li><%= rule.text %></li> </a>
        <% end %>
    </ol>
</div>